* {
  box-sizing: border-box;
<<<<<<< HEAD
  margin: 0px;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 4rem;
  flex-shrink: 0;
  background: #f55a5a;
  color: white;
}

.nav-image {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.destinations {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
=======
}
>>>>>>> 4dcd0433304726170851d1049e04c83e6c874988
